body{
    font-family: 'Do Hyeon', sans-serif;
}


.header {
padding:10px;
}

a:hover {
    color: white;
}

.main{
    height:auto;
    width: 100%;
    background-image: url("images/galaxay.jpg");              
}

.tekstas{
    padding: 50px 10px 10px 10px;
}

.galaxies {
    text-align: center;
    margin-top:20px;
        
}

.learnMore{
    text-align: center;
    margin-top: 20px;
}

.button_learnMore{
    margin-bottom: 20px;
};

.centravimas {
    display:inline-block;
    vertical-align: middle;
};



